<span
  data-value="<%=value%>"
  id="<%=parent%>_<%=value%>"
  class="badge bg-primary"
  ><%=value%><sup
    ><button
      type="button"
      class="btn-close remove-select"
      aria-label="Remove"
    ></button></sup
></span>
