<span
  data-value="<%=value%>"
  id="<%=parent%>_<%=value%>"
  class="badge bg-primary"
>
  <%=value%>
  <button
    type="button"
    class="btn-close remove-select"
    aria-label="Remove"
  ></button>
</span>
