@import "../common/lineicons/font-css/LineIcons.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100%;
  padding: 2rem;
}

.bootstrapped {
  @import "~bootstrap/scss/bootstrap.scss";
}
.tab-content {
  margin: 30px auto;
}
#mainNav {
  margin-bottom: 10px;
}
#legend {
  display: table-row;
  column-count: 5;
  border: 1px solid;
  padding: 5px;
  p {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
  }
}
#myGamesList {
  margin-bottom: 50px;

  .card {
    margin: 20px;
    max-width: 500px;

    .card-header {
      h5 {
        span {
          display: block;
          float: right;
        }
      }
    }
    .gameDetails {
      padding: 0px;
      list-style-type: none;
      span {
        white-space: nowrap;
      }
    }
    .statusIcon {
      text-align: center;

      .status {
        font-weight: bold;
        font-size: xxx-large;
        &.upNext {
          color: gold;
        }
        &.playing {
          color: green;
        }
        &.notFinished {
          color: red;
        }
      }
    }
  }
}

#playList {
  .playListCol {
    .list-group {
      margin: 20px;
      min-height: 300px;
      min-width: 200px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 20px;
    }
  }
}

#gamesForm {
  #ClientRow {
    display: none;
  }
  .choices {
    margin-bottom: 10px;
    .remove-select {
      vertical-align: middle;
    }
  }
  #genreToggle,
  #platformToggle {
    display: none;
  }

  .required {
    color: red;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .dropdown-menu {
    &.show {
      transform: translate(0px, 40px) !important;
    }
  }
}
