body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.bootstrapped {
    @import '~bootstrap/scss/bootstrap.scss';
}

#gamesForm {
    #ClientRow {
        display: none;
    }

    #genreToggle,
    #platformToggle {
        display: none;
    }

    .dropdown-menu {
        &.show {
            transform: translate(0px, 40px) !important;
        }
    }
}